In [1]:
import pandas as pd
import getpass
from functions import connect_mysql

# Input User id
try:
    # password input hashed
    id = getpass.getpass("id: ") 
except Exception as ex:
    print('Error Occured : ', ex)
#Input password
try:
    # password input hashed
    pwd = getpass.getpass("password: ") 
except Exception as ex:
    print('Error Occured : ', ex)

#host for RDS connection
host = "mdsi-dsp-spr-2020.cehiwpryiego.ap-southeast-2.rds.amazonaws.com"
mydb = connect_mysql(host, id, pwd)

if mydb: 
    print("Connection Successful")

id: ········
password: ········
Connection Successful

In [2]:
mydb = connect_mysql(host, id, pwd)
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES;")
# create a list of database
db_list = [x[0].decode("utf8") for x in mycursor]
print(db_list) 
# asx is the database to be used
db = "asx"

['asx', 'information_schema', 'mysql', 'performance_schema']

In [3]:
mydb = connect_mysql(host, id, pwd, db)
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES;")
tb_list = [x[0].decode("utf8") for x in mycursor]
print(tb_list)

['cashrate']

In [4]:
mydb = connect_mysql(host, id, pwd, db)
df = pd.read_sql_query("SELECT * FROM cashrate", con=mydb)

df.head()

         Date          Change        CashRate
0  1990-01-23  -0.50 to -1.00  17.00 to 17.50
1  1990-02-15            -0.5  16.50 to 17.00
2  1990-03-07               0  16.50 to 17.00
3  1990-04-04  -1.00 to -1.50  15.00 to 15.50
4  1990-05-02               0  15.00 to 15.50